<!-- partial-home.html -->

<div class="jumbotron text-center">
    <h2>Para probar cosas</h2>

    <div>
        <form name="testForm" >
          <div class="panel">
            <div ng-repeat="rol in roles">
              <div class="action-checkbox">
                  <input id="{{rol.idRol}}" type="checkbox" value="rol" ng-checked="items.indexOf(rol) > -1"
                          ng-click="toggleSelection(rol)"/>{{rol.nombreRol}}
              </div>
            </div>
          </div>

            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="testCheckbox()">Probar Checkbox</button>
                <button type="button" class="btn btn-primary" ng-click="consultarSaldosCliente(1)">Probar</button>
                <button type="button" class="btn btn-primary" ng-click="iniciarAuditoria()">Auditoria</button>
            </div>
        </form>
    </div>
</div>